<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsf.ssm.houd1.bus.mapper.BusMapper">
  <resultMap id="BaseResultMap" type="com.wsf.ssm.houd1.bus.model.Bus">
    <id column="b_id" jdbcType="INTEGER" property="b_id" />
    <result column="b_seats" jdbcType="INTEGER" property="b_seats" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wsf.ssm.houd1.bus.model.Bus">
    <result column="b_code" jdbcType="LONGVARCHAR" property="b_code" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    b_id, b_seats
  </sql>
  <sql id="Blob_Column_List">
    b_code
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.wsf.ssm.houd1.bus.model.BusExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByExample" parameterType="com.wsf.ssm.houd1.bus.model.BusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bus
    where b_id = #{b_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bus
    where b_id = #{b_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wsf.ssm.houd1.bus.model.BusExample">
    delete from bus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wsf.ssm.houd1.bus.model.Bus">
    insert into bus (b_id, b_seats, b_code
      )
    values (#{b_id,jdbcType=INTEGER}, #{b_seats,jdbcType=INTEGER}, #{b_code,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wsf.ssm.houd1.bus.model.Bus">
    insert into bus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="b_id != null">
        b_id,
      </if>
      <if test="b_seats != null">
        b_seats,
      </if>
      <if test="b_code != null">
        b_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="b_id != null">
        #{b_id,jdbcType=INTEGER},
      </if>
      <if test="b_seats != null">
        #{b_seats,jdbcType=INTEGER},
      </if>
      <if test="b_code != null">
        #{b_code,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wsf.ssm.houd1.bus.model.BusExample" resultType="java.lang.Long">
    select count(*) from bus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bus
    <set>
      <if test="record.b_id != null">
        b_id = #{record.b_id,jdbcType=INTEGER},
      </if>
      <if test="record.b_seats != null">
        b_seats = #{record.b_seats,jdbcType=INTEGER},
      </if>
      <if test="record.b_code != null">
        b_code = #{record.b_code,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update bus
    set b_id = #{record.b_id,jdbcType=INTEGER},
      b_seats = #{record.b_seats,jdbcType=INTEGER},
      b_code = #{record.b_code,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bus
    set b_id = #{record.b_id,jdbcType=INTEGER},
      b_seats = #{record.b_seats,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsf.ssm.houd1.bus.model.Bus">
    update bus
    <set>
      <if test="b_seats != null">
        b_seats = #{b_seats,jdbcType=INTEGER},
      </if>
      <if test="b_code != null">
        b_code = #{b_code,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where b_id = #{b_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wsf.ssm.houd1.bus.model.Bus">
    update bus
    set b_seats = #{b_seats,jdbcType=INTEGER},
      b_code = #{b_code,jdbcType=LONGVARCHAR}
    where b_id = #{b_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsf.ssm.houd1.bus.model.Bus">
    update bus
    set b_seats = #{b_seats,jdbcType=INTEGER}
    where b_id = #{b_id,jdbcType=INTEGER}
  </update>
</mapper>